:root {
    --dark: #979797;
    --more_dark: #2b2b2b;
}

body {
    background-color: var(--dark);
}

.skyline {
    height: 750px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Columbus-Skyline.jpg");
    background-size: cover;
    background-position: center;
}

.header h1{
    padding: 20px;
    float: left;
}

.header ul {
    list-style-type: none;
    float: right;
}
 header ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
 }

.content {
    min-width: 100%;
}

.row {
    display: flex;
    width: 100%;
}


.title-card {
    margin: 20px;
    border-right: solid black;
    padding: 20px;
    float: left;
    flex-wrap: none;
    flex-basis: 30%;
    flex-grow: 0%;
    display:flex;
}

.title-card h2 {
    float: right;
}

.card {
    margin: 20px;
    flex-basis: 70%;
}

footer {
    text-align: center;
}

.work {
    width: 70%;   
}

.top_img {
    height: 300px;
    width: 100%;
    background-image: url("../images/ocean-waves.jpg");
    background-size: cover;
    background-position: center;
    border: solid cyan 5px;
    opacity: 50%;
    margin-bottom: 1%;
}


.bottom_left_img {
    height: 200px;
    width: 49.5%;
    background-image: url("../images/Mt-everest.jpg");
    background-size: cover;
    background-position: center;
    border: solid cyan 5px;
    opacity: 50%;
    float: left;
    margin-right: 1%;   
}

.bottom_right_img {
    height: 200px;
    width: 49.5%;
    background-image: url("../images/tropical-sunset.jpg");
    background-size: cover;
    background-position: center;
    border: solid cyan 5px;
    opacity: 50%;
    float: left;
}

.hovering:hover {
    opacity: 100%
}

h3 {
    position: relative;
    top: 60%;
    background-color: cyan;
    width: fit-content;    
}