:root {
    --dark: #979797;
    --more_dark: #2b2b2b;
}

body {
    background-color: var(--dark);
}

.row {
    background-color: darkslategray;
    margin: 10px;
    display:flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;


}

.rowTitle {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowContent {
    display: flex;
    flex-direction: column;
}

.topImg {
    position: relative;
    max-width: 100%;
}

.bottomImg {
    position: relative;
    width: 100%;
}

.header {
    display: flex;
    padding-bottom: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    padding: 5px;
    margin: 3px;
}

.item {
    padding: 3px;
    margin-left: 5px;
}

.img {
    border-radius: 10px;
}

.imgSmall {
    border-radius: 5px;
}

.aboutMeContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.paragraph {
    margin-left: 10px
}