:root {
    --dark: #979797;
    --more_dark: #2b2b2b;

}

body {
    background-color: var(--dark);
}


.skyline {
    height: 750px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Columbus-Skyline.jpg");
    background-size: cover;
    background-position: center;
}






.content {
    min-width: 100%;

}



.row {
    display: flex;
    width: 100%;
}


.title-card {
    margin: 20px;
    border: dashed black;
    padding: 20px;
    float: left;
    flex-wrap: none;
    flex-basis: 30%;
}

.title-card h2 {
    float: right;
}

.card {
    margin: 20px;
    flex-basis: 70%;
}

footer {
    text-align: center;
}

.work {
    width: 70%;
    
}

.top_img {
    height: 300px;
    width: 100%;
    background-image: url("../images/ocean-waves.jpg");
    background-size: cover;
    background-position: center;
    border: solid cyan 5px;
}

.bottom_left_img {
    height: 200px;
    width: 50%;
    background-image: url("../images/Mt-everest.jpg");
    background-size: cover;
    background-position: center;
    border: solid cyan 5px;
}

.bottom_right_img {
    height: 200px;
    width: 50%;
    background-image: url("../images/tropical-sunset.jpg");
    background-size: cover;
    background-position: center;
    border: solid cyan 5px;
}
